{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Партнеры факультета</title>

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>
     <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link rel='stylesheet' href='{% static "css/shop-homepage.css" %}'>
     <!--<link href="css/shop-homepage.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <a class="navbar-brand" href="#">Актуальные вакансии</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Категории</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Актуальные</a>

                </div>
            </div>

            <div class="col-md-9">

               <!-- <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>-->
                {% endblock content %}
                <div class="row">
                    {% for vacanci in vacancies %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5 class="pull-right"> от {{ vacanci.date }}</h5>
                                <h5><a href="{{vacanci.get_absolute_url}}">{{ vacanci.name }}</a>
                                </h5>
                                <p>{{ vacanci.company }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>

           <!-- <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th>
                            Вакансия
                        </th>
                        <th>
                            Компания
                        </th>
                        <th>
                            Дата
                        </th>
                    </tr>
                    </thead>
                    {% for vacanci in vacancies %}
                    <tbody>
                    <tr>
                        <td>
                         <a href="#">   от {{ vacanci.name }}
                        </td>
                        <td>
                            от {{ vacanci.company }}
                        </td>
                        <td>
                            от {{ vacanci.date }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
                </table>

            </div>-->

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Moscow Polytech 2019</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src='{% static "js/bootstrap.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "js/jquery.js" %}'></script>

</body>

</html>
