{% extends 'vacancies.html' %}
{% block content %}


   <div class="ramy">

       <div class="col-md-12">
            <div class="col-sm-8">
                <h5>Название: {{ vacancy.name|default_if_none:"&nbsp;"}}</h5>
       <hr>
                             <h5>Опыт: {{ vacancy.experience|default_if_none:"&nbsp;"}}</h5>
       <hr>
                             <h5>Занятость: {{ vacancy.employment|default_if_none:"&nbsp;"}}</h5>
             <hr>
                             <h5>Компания: {{ vacancy.company|default_if_none:"&nbsp;"}}</h5>

       <hr>{% filter linebreaksbr %}
                             <h5>Требования: {{ vacancy.requirements|default_if_none:"&nbsp;"}}</h5>
            {% endfilter %}
                <hr>
                             <h5>Сайт: <a href="{{vacancy.site}}">{{ vacancy.site|default_if_none:"&nbsp;" }}</a></h5>
       <hr>{% filter linebreaksbr %}
                             <h5>Обязанности: {{ vacancy.duty|default_if_none:"&nbsp;"}}</h5>
            {% endfilter %}
       <hr>
           <h5>Специальности:</h5>
                            <div>
                                <div class="thumbnail">
                                    {%for vac in vacancy.direction.all%}
                                        <h5>{{vac.direction}}</h5>

                                    {% endfor %}
                                </div>
                            </div>
                                 <hr>
            {% filter linebreaksbr %}
                             <h5>Описание: {{ vacancy.description|default_if_none:"&nbsp;"}}</h5>
            {% endfilter %}
                             <hr>
                             <h5>Дата: {{ vacancy.date}}</h5>
       </div>
   </div>
 </div>
    {% endblock %}

